#view-body-courses {
   scrollbar-gutter: auto;
   display: flex;
   justify-content: space-between;
   gap: 30px;
}

.courses-view {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 30px;
}

#masonry-layout-courses {
   display: flex;
   gap: 20px;
}

.masonry-column {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.statistics-box {
   width: fit-content;
   max-width: 500px;
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.sidebar-button {
   width: 40px;
   height: 40px;
   position: fixed;
   top: 300px;
   border-radius: 10px;
   background-color: red;
}

@media screen and (max-width: 800px) {
   .statistics-box {
      position: absolute;  
   }
}