#view-body-course {
   display: flex;
   gap: 55px;
}

.side-bar {
   max-width: 325px;
   width: fit-content;
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.back-and-progress {
   display: flex;
   align-items: center;
   gap: 10px;
}

.course-chapter-title {
   display: inline-block;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;

   h1 {
     display: inline;
     white-space: nowrap;
   }
}

.chapter-view {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 0px 30px 0px 30px;
}

.chapter-video-box {
   margin-top: 25px;
}

.chapter-video-box,
.chapter-text {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.next-lesson-button-box {
   margin-top: 20px;
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

.chapter-video {
   background-color: #c4c4c4;
   width: 100%;
   aspect-ratio: 16/9;
   overflow: hidden;
}