#view-body-courses {
   scrollbar-gutter: auto;
   display: flex;
   justify-content: space-between;
}

.courses-box {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.statistics-box {
   width: fit-content;
   max-width: 500px;
   display: flex;
   flex-direction: column;
   gap: 30px;
}
