@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");

* {
   margin: 0;
   padding: 0;
   font-family: "Open Sans";
}

html {
   overflow-y: scroll;
}

body,
.border-circle {
   background-color: #fbfbfb;
}

div {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

h1, h2, h3, p, span, input, button {
   color: #414141;
}

h1 {
   font-size: 32px;
   font-weight: 800;
   text-transform: uppercase;
}

h2,
button {
   font-size: 20px;
}

h2 {
   font-weight: bold;
}

h3 {
   font-size: 16px;
   font-weight: lighter;
}

a {
   text-decoration: none;
}

p,
span {
   font-size: 16px;
   font-weight: normal;
}

input {
   font-size: 16px;
   font-weight: normal;
   box-sizing: border-box;
   padding: 17px;
}

::placeholder {
   font-size: 16px;
   font-weight: lighter;
   color: #b5b5b5;
   padding: 0px;
}

button {
   display: flex;
   padding: 16px;
   align-items: center;
   cursor: pointer;
   transition: all 0.3s ease;
}

button:active {
   transform: scale(0.95);
}

button,
input {
   border-radius: 10px;
   border: none;
}

.main-icon {
   path {
      color: #484b5b;
   }
}

.line {
   width: 2px;
   height: 25px;
   background-color: #f4e6e6;
   margin: 0px 10px;
   display: inline-block;
}

.shadow,
input {
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.darker-shadow {
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
   outline: 1px solid #414141;
}

.bordered {
   border-radius: 10px;
}

.red-font {
   color: #e31c24 !important;
}

.white-font {
   color: #fbfbfb;
}

.red-background,
.button-main {
   background-color: #e31c24;
   color: #fbfbfb;
   path {
      color: #fbfbfb;
   };
   span {
      color: #fbfbfb;
   }
}

.button-main, .button-inverted {
   justify-content: center;
   align-items: center;
}

.button-inverted {
   background-color: #fbfbfb;
   * {
      color: #e31c24;
   }
}

.secondary-background {
   background-color: #484b5b;
}

.bar-background {
   background-color: #f2f2f2;
}

.lighter {
   font-weight: 200;
}

.spaced-body {
   padding: 35px 55px;
}

.fade-enter-from,
.fade-leave-to {
   opacity: 0;
   transform: scale(0);
}

.fade-enter-to,
.fade-leave-from {
   opacity: 1;
   transform: scale(1);
}

.fade-enter-active,
.fade-leave-active {
   transition: all 0.2s ease-in-out;
   transform-origin: center;
}
